$--title: 18px;
$--sub-title: 16px;
$--text: 14px;
$--small: 12px;
$--extra-small: 10px;
$--bg-main: #fcedda;
$--text-light: rgba(176, 183, 183, 1);
$--text-light-shadow: rgba(176, 183, 183, 0.4);
$--text-primary: #212529;
$--text-secondary: rgba(238, 78, 52, 1);
$--text-secondary-shadow: rgba(238, 78, 52, 0.4);
$--bg-primary: #f4f4f4;
$--bg-selected: #ebebeb;
$--border-color: #d0d0d0;
$--btn-primary: #fdd43a;
$--btn-primary-shadow: rgba(253, 212, 58, 0.4);
$--padding-common: 16px;
$--danger: #ff0000;
$--white: #fff;
