$--title: 18px;
$--sub-title: 16px;
$--text: 14px;
$--small: 12px;
$--extra-small: 10px;
$--bg-main: #fcedda;
$--text-light: #b0b7b7;
$--text-primary: #212529;
$--text-secondary: #ee4e34;
$--bg-primary: #f4f4f4;
$--bg-selected: #ebebeb;
$--border-color: #d0d0d0;
$--btn-primary: #fdd43a;
$--padding-common: 16px;
$--danger: #ff0000;
$--white: #fff;
